@use "../../../styles/abstracts/variables" as *;
@use "../../../styles/abstracts/mixins" as *;

.Cards {
  display: flex;
  gap: $gap;
  height: auto;
  &-container {
    width: 100%;
  }
}

@include responsive(sm_desktop) {
  .Cards {
    flex-direction: column;
    height: 33rem;
    &-container {
      height: 9rem;
    }
  }
}