@use "../../../styles/abstracts/variables" as *;
@use "../../../styles/abstracts/mixins" as *;

.MainDash {
  display: flex;
  flex-direction: column;
  color: $grey;
  padding: $common-padding;
}

@include responsive(sm_desktop) {
  .MainDash {
    width: 100%;
  }
}

@include responsive(tablet) {
  .MainDash {
    min-width: 300px;
    padding: $gap;
    box-sizing: border-box;
  }
}