@use "../../../styles/abstracts/variables" as *;
@use "../../../styles/abstracts/mixins" as *;

.Sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: $common-padding;
  transition: all 300ms ease;
  color: $font-color;

  &-logo {
    display: flex;
    font-weight: bold;
    font-size: $h1;
    align-items: flex-end;
    justify-content: space-evenly;
  }
  &-logo > img {
    width: 4rem;
    height: 4rem;
  }
  &-logo > span > span {
    color: $light-purple;
  }

  &-menu {
    margin-top: $large-gap;
    display: flex;
    flex-direction: column;
    gap: $gap;
  }

  &-menuItem {
    display: flex;
    align-items: center;
    gap: $gap;
    height: 2.5rem;
    margin-left: $gap;
    position: relative;
    transition: all 300ms ease;
    font-size: $h4;
    border-radius: $radius;
    &:hover {
      cursor: pointer;
    }
    &:last-child {
      margin-top: $extra-large-gap;
    }
    &.active {
      background: $focuse-opacity;
      margin-left: 0;
      &::before {
        content: "";
        width: 8px;
        height: 100%;
        background-color: $focuse;
      }
    }
  }
}

@include responsive(sm_desktop) {
  .Sidebar {
    &-logo {
      display: none;
    }
    &-menuItem {
      min-width: 55px;
    }
    &-menuItem > span {
      display: none;
    }
  }
}

@include responsive(tablet) {
  .Sidebar {
    z-index: 9;
    width: 55%;
    padding-right: $gap;
    height: 100%;
    &-menuItem > span {
      display: block;
    }
    &-logo {
      display: flex;
      max-width: 220px;
    }
    &-menuItem:last-child {
      position: relative;
      margin-top: 6rem;
    }
  }
}