@use "../../styles/abstracts/variables" as *;

.BlogLayout {
  display: flex;
  justify-content: space-between;
  border: 2px dotted $border;
  border-radius: $radius;
  box-sizing: border-box;
  gap: $gap;
  padding: $gap;
}

.BlogLeftSide {
  display: flex;
  flex-direction: column;
  flex: 6;
  height: 500px;
  overflow-y: auto;
  gap: $gap;
}

.BlogRightSide {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: $gap;
}

.BlogLeftSide .item {
  width: calc(100% - 2rem);
  background: $dark-background;
  border-radius: 0.7rem;
  padding: $boxes-padding;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__text {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.BlogRightSide button {
  width: 100%;
  height: auto;
  padding: $boxes-padding;
  background: $dark-background;
  border-radius: $radius;
  color: $white;
  border: none;
  margin-top: 1rem;
  cursor: pointer;
}

.add-button:hover {
  color: $blue;
  background: $active-dark-background;
}

.delete-button:hover {
  color: $error-red;
  background: $active-dark-background;
}

.edit-button:hover {
  color: $light-green;
  background: $active-dark-background;
}

.delete-mode:hover {
  box-shadow: $active-dark-background;
}

.item-date {
  color: $extra-light-green;
}

/* 
@media screen and (max-width: 1200px) {
    .BlogLayout{
        justify-content:flex-start;
        margin-top: 4rem;
        width: 100% !important;
    }
}

@media screen and (max-width: 768px)
{
    .BlogLayout{
        margin-top: 2rem;
        align-items: center;
    }
} */