@use "../../styles/abstracts/variables" as *;

.Blog {
  &-content {
    background-color: $c-background;
    display: flex;
    justify-content: space-between;
    border: $border;
    border-radius: $radius;
    box-sizing: border-box;
    gap: $gap;
    padding: $gap;
    height: 500px;
  }

  &-leftSide {
    display: flex;
    flex-direction: column;
    flex: 6;
    overflow-y: scroll;
    gap: $gap;
  }
  
  &-rightSide {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: $gap;
  }
  
  &-item {
    color: $font-color;
    border: $border;
    box-shadow: $box-shadow;
    width: 90%;
    background: $c-s-background;
    border-radius: 0.7rem;
    padding: $boxes-padding;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-text {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-date {
    color: $extra-light-green;
  }
}

.add-button:hover {
  color: $blue;
}

.delete-button:hover {
  color: $error-red;
}

.edit-button:hover {
  color: $light-green;
}