@use "../../styles/abstracts/variables" as *;

.Auth {
  background-image: url('../../assets/images/bg_auth_gradient.jpg');
  font-family: $regular-font;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &-block {
    width: 30%;
    background-color: $c-background;
    border: $border;
    box-shadow: $box-shadow;
    border-radius: 15px;
    color: black;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
  }
  &-form {
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
  }
}