$green: #008000;
$light-green: #9ad69e;
$extra-light-green: #d3ebd1;
$light-orange: #f8d49a;
$orange: #ffca71;
$pink: #ff919d;
$light-purple: #d691ea;
$purple: #bd6dfc;
$dark-purple: #551a8b;
$light-blue: #54c6ca;
$blue: #00b5ff;

$active: #fe919d;
$focuse: #d691ea;
$focuse-opacity: #f799a354;
$hover: #f799a354;

$white: #fff;
$black: #212529;
$grey: #788097;
$error-red: #e59a96;
$link-color: #ff6a6a;

$font-color: #000;
$second-font-color: #5d576b;
$regular-font: "Inter", sans-serif;
$secondary-font: "Manrope", sans-serif;

$border: 3px solid black;
$box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 1);
$radius: 0.7rem;

$active-dark-background: rgba(25, 25, 25, 0.548);
$dark-background: rgba(25, 25, 25, 0.3);
$glass-background: rgba(255, 255, 255, 0.78);
$c-background: #fff;
$c-s-background: #ae7aff;

$shadow: 0px 19px 60px rgb(0 0 0 / 8%);
$sm_shadow: -79px 51px 60px rgba(0, 0, 0, 0.08);

$h1: 32px;
$h2: 24px;
$h3: 20px;
$h4: 16px;
$h5: 12px;
$h1-num: 40px;
$h2-num: 32px;
$h-num: 16px;

$page-background: rgb(193, 191, 199);
$liner-background: linear-gradient(
  -106deg,
  rgba(193, 191, 199, 0.4911006638983718) 0%,
  rgba(186, 238, 167, 1) 58%,
  rgba(137, 212, 176, 0.7235936610972514) 100%
);
$popup-background: #363639;

$gap: 1rem;
$medium-gap: 2rem;
$large-gap: 3rem;
$extra-large-gap: 4rem;

$common-padding: 4.5rem 0;
$boxes-padding: 1rem;