@use "../../../styles/abstracts/variables" as *;

.Widget {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  &-list {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: auto;
    column-gap: 1em;
  }
  &-task {
    display: flex;
    height: 5em;
    color: $second-font-color;
    padding: 1rem;
    position: relative;
    border: $border;
    &:hover {
      box-shadow: none !important;
    }
  }
}

.first {
  background-color: $orange;
  flex: 9;
}
.second {
  background-color: $pink;
  opacity: 0.5;
  flex: 5;
}
.third {
  background-color: $purple;
  opacity: 0.1;
  flex: 1;
}